<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Behind Saja Cafe</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">The Concept</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Saja Cafe started as a blank square on a 2025 bingo card. An at home cafe where friends could gather to enjoy good matcha and pastries. But more than that, our desire is to see friends come together and connect. We're so glad you could join us on this journey!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/farmer.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Sustainability</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We’re doing our best to cut down on waste wherever we can. By sourcing locally grown ingredients from nearby producers, we’re helping our community grow together. All syrups are made in house to guarantee quality.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2-modified.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Kerr County Flood Relief Fund</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">This fund supports urgent relief and long-term rebuilding after the devastating floods of July 4, 2025. Your generosity helps neighbors across our region recover and rebuild. Click 
                                        <a href="https://cftexashillcountry.fcsuite.com/erp/donate/create/fund?funit_id=4201" 
                                        target="_blank" 
                                        style="color: #fed136; text-decoration: none;">
                                            here
                                        </a> 
                                        to learn more.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/donate.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Donate</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">All donations from the cafe will go directly towards affected families and communities of the Kerr County Flood.</p>
                                    <p class="text-muted">Venmo: 
                                        <a href="venmo://paycharge?txn=pay&recipients=JamesLoJames" 
                                           target="_blank" 
                                           style="color: #fed136; text-decoration: none;">
                                            @JamesLoJames
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <!--
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                        -->
                    </ul>
                </div>
            </div>
        </div>
    </section>